/* body {
    background-color: #f8f8f8;
}

form {
    width: 290px;
    height: 290px;
    padding: 15px;
    background-color: #fff;
}
input{
    width: 284px;
    height: 36px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
input.buttonSubmit {
    background-color: #1cbc11;
    width: 290px;
    height: 40px;
    padding: 0px;
    border: 0px solid;
    color: white;
}
input.buttonSubmit:hover {
    background-color: #14a20a;
} */